body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header-image {    
    width: 100%;
    max-width: 550px;
}

.profile-image {
    width: 100%;
    max-width: 200px;
    border-radius: 16px;
    border: #3882f6 solid 4px;
}

.header, .footer {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.navigation, .intro, .detail-two, .footer{
    font-size: 18px;
    color: #e5e7eb;
}

.logo, .title, .header-button, .detail-button {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 12px;
}

.header-button, .detail-button {
    background-color: #3882f6;
    font-weight: 700;
    font-size: 18px;
    padding: 8px 29px;
    border-radius: 8px;
    border-color: #3882f6;
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px 0;
}

.content {
    display: flex;
    padding: 100px 200px;
    align-items: center;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 12px;
}

.subject, .lyric {
    font-size: 36px;
    color: #1F2937;
}

.profile {
    padding: 40px 250px 130px;
}

.subject {
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.text {
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.info {
    max-width: 200px;
}

em {
    quotes: """ """;
}

em::before {
    content: open-quote;
}

em::after {
    content: close-quote;
}

.lyric {
    font-weight: 300;
    text-align: justify;
}

.quote {
    background-color: #e5e7eb;
    padding: 130px 300px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    text-align: end;
}

.sign-up {
    padding: 100px 200px;
}

.box {
    background-color: #3882f6;
    padding: 60px 150px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.details {
    max-width: 550px;
}

.detail-one {
    font-size: 22px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 4px;
}

.detail-two {
    display: flex;
    flex-wrap: wrap;
}

.detail-button {
   border: #f9faf8 solid 3px;
   align-self: center;
}

.footer {
    padding: 35px 0;
    text-align: center;
}